@model IEnumerable<DevIO.LM.App.ViewModels.LivroViewModel>

@{
    ViewData["Title"] = "Lista de Produtos";
}

<h1>@ViewData["Title"]</h1>
<hr />

<vc:Summary></vc:Summary>

<p>
    <a class="btn btn-info" asp-action="Create">Novo Livro</a>
</p>

<partial name="_ListaLivros" />
